.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: #b5dfd1f6;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  background-color: white;
  padding: 1rem;
  width: 300px;
  border-radius: 15px;
  text-align: center;
}
img {
  padding: 5px;
  width: 275px;
  border-radius: 1rem;
}
p {
  color: #343d3af6;
}
